{% assign lang = page.lang | site.lang | default: "en" %}

<section>
   <div style="max-width:1100px;" class="content">
      <div style="margin-left:auto;margin-right:auto;max-width:850px">
         <p>
            <h1>
               {% if lang == "de" %}
               Dein kleines Ritual mit dem Du <nobr>Glück und Erfolg</nobr> vorprogrammierst
               {% else %}
               Your Little Ritual to Prime You for <nobr>Happiness and Success</nobr>
               {% endif %}
            </h1>
         </p>
      </div>
      <p>
          <br>
          <div class="grid-x small-up-2 medium-up-3 large-up-6">
              <div class="cell">
                  <img src="pictures/covers/DSC_0035_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0017_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0023_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0024_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0031_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0028_small.jpg" />
              </div>
          </div>
      </p>
      <p style="text-align:center">
          <br>
          {% if lang == "de" %}
          <a href="#bestellen">Jetzt ein Exemplar Sichern ></a>
          {% else %}
          <a href="#bestellen">Get a Copy Now ></a>
          {% endif %}
      </p>
  </div>
</section>

<section class="background" style="height:500px;background-image:url(pictures/background/DSC_0041_small.jpg);">
</section>

<!-- SUMMARY -->
<section>
   <div class="content">
      <!-- grob was es ist, warum es funktioniert -->
      {% if lang == "de" %}
      <h2>Das 33Tage-Buch</h2>
      {% else %}
      <h2>The 33Day-Diary</h2>
      {% endif %}
      <p style="text-align:center">
         {% if lang == "de" %}
         Das 33Tage-Buch ist eine tägliche angeleitete Übung die Deinen Geist beruhigt, fokussiert und einfach glücklich macht. Es vereint bewährte Methoden der Selbstentwicklung mit den Erkenntnissen der positiven Psychologie.
         {% else %}
         The 33Day-Diary is a daily guided practice that calms your mind, focusses your attention and simply makes you happy. It combines established self-development methods with the insights of positive psychology.
         {% endif %}
      </p>
  </div>
</section>

<section class="background"
   style="height:500px;background-image:url(pictures/background/DSC_0045_small.jpg);">
</section>

<!-- Kina Books -->
<section>
  <div class="content">
      {% if lang == "de" %}
      <h2>Handgefertigt von kinabooks</h2>
      {% else %}
      <h2>Handcrafted by kinabooks</h2>
      {% endif %}
      <p style="text-align:center">
         {% if lang == "de" %}
         Jede Exemplar des 33Tage-Buches ist ein Unikat mit individuellem Design. Die Bücher werden von <a href="http://kinabooks.jimdo.com" target="blank">kinabooks</a> mit viel Liebe und in Handarbeit hergestellt, mit klassischer Fadenbindung.
         {% else %}
         Every copy of the 33Day-Diary is one of a kind and has an individual design. The books are handcrafted by <a href="http://kinabooks.jimdo.com" target="blank">kinabooks</a> with classic stitched binding and much love.
         {% endif %}
      </p>
  </div>
</section>

<section class="background" style="background-image:url(pictures/background/materials.JPG);">
   <div style="background-color:rgba(0, 0, 0, 0.3); width:100%; height:100%; padding-top:200px; padding-bottom:200px; padding-left:50px; padding-right:50px">
      <h1 style="color:white;text-align:center;font-weight:900">
         {% if lang == "de" %}
         Jedes Exemplar <nobr>wie Du:</nobr> <nobr>Ein Unikat</nobr>
         {% else %}
         Every Copy <nobr>like You:</nobr> <nobr>An Original</nobr>
         {% endif %}
      </h1>
   </div>
</section>

<!-- WHY IT WORKS, SCIENCE ... -->
<section>
  <div class="content">
     {% if lang == "de" %}
     <h2>Warum funktioniert es?</h2>
     {% else %}
     <h2>Why Does It Work?</h2>
     {% endif %}
     <p style="text-align:center">
        {% if lang == "de" %}
        Das 33Tagebuch ist das Ergebniss von jahrelangem Lernen und Experimentieren mit Konzepten und Techniken der Selbstentwicklung. Es beruht nicht nur auf Wissenschaft sondern ist nun in der 3. Auflage vielfach überarbeitet und an die Wünsche unserer Leser angepasst.
        {% else %}
        The 33Day-Diary is the result of years of learning and testing the concepts and techniques of self-development. It is not just rooted in science but also adjusted to the feedback of readers. We reworked it many times to get to this 3rd edition.
        {% endif %}
      </p>
      <!--
      <div class="row">
          <div class='large-6 columns'>
              <img width="100%" src="daily_pages.JPG"/>
          </div>
          <div class='large-6 columns'>
              Mehr als andere Tagebücher: Hürden überwinden, Ziel-Orientierung, Stärkeorientierung, Implementation Intentions, Zukunftsorientierung
          </div>
      </div>
      -->
  </div>
</section>

<section class="background" style="height:500px;background-image:url(pictures/background/DSC_0089_small.jpg);">
</section>

<!-- MANUAL, DAILY QUESTIONS, LOOK INSIDE -->
<section>
  <div class="content">
      {% if lang == "de" %}
      <h2>Wie benutze ich es?</h2>
      {% else %}
      <h2>How Do I Use It?</h2>
      {% endif %}
      <img src="pictures/opened/DSC_0117b_small.jpg" width="100%">
      <p style="text-align:center">
         {% if lang == "de" %}
         Jedem Tag ist eine Doppelseite gewidmet. Die linke Seite füllst Du am Morgen aus, die rechte am Abend. Das Frageschema ist jeden Tag das selbe. Die einzelnen Fragen sind Schreibmeditationen die bei bewusster Durchführung Dein Leben verändern können.
         {% else %}
         A double page is dedicated to each day. You fill out the left side in the morning and the right side in the evening. The template is the same everyday. The questions are writing meditations that can change your life when done mindfully.
         {% endif %}
      </p>

  </div>
</section>

<section class="background"
   style="height:500px;background-image:url(pictures/background/DSC_0096_small.jpg);">
</section>

<!-- TESTIMONIALS -->
<section>
  <div class="content">
     {% if lang == "de" %}
     <h2>Erfahrungen</h2>
     {% else %}
     <h2>Experiences</h2>
     {% endif %}
     <p style="text-align:center">
         &#9733; &#9733; &#9733; &#9733; &#9733;<br>
         {% if lang == "de" %}
         <i>"Das Buch stellt schon einen gewissen Anspruch aber damit hat es mir echt geholfen zielgerichteter und bewusster zu leben. Ich bin einfach viel effektiver und hab mehr innere Ruhe. Riesen Dank!"</i>
         {% else %}
         <i>"The book is certainly demanding, but that really helped me to live more consciously and goal-oriented. I'm just more effective and calm. Big thanks!"</i>
         {% endif %}
         <br>Tamara Waclav
      </p>
   </div>
</section>

<section class="background"
   style="height:500px;background-image:url(pictures/background/DSC_0080_small.jpg);">
</section>

<!-- ORDER -->
<section id="bestellen">
  <div class="content">
     {% if lang == "de" %}
     <h2>Jetzt ein Exemplar Sichern</h2>
     {% else %}
     <h2>Get a Copy Now</h2>
     {% endif %}
      <p>
          <div class="grid-x small-up-2 medium-up-4">
              <div class="cell">
                  <img src="pictures/covers/DSC_0035_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0017_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0024_small.jpg" />
              </div>
              <div class="cell">
                  <img src="pictures/covers/DSC_0028_small.jpg" />
              </div>
          </div>
      </p>
      <p style="text-align:center">
      {% if lang == "de" %}
      Die 33Tage-Buch ist für 33€ bei uns bestellbar. Versand inklusive.<br>Du kannst Deine Bestellung direkt an <a href="mailto:tagebuch@flowtoolz.com?subject=Ich möchte ein Exemplar des 33Tage-Buches&body=Bitte sende es an folgende Adresse:">tagebuch@flowtoolz.com</a> senden.
      {% else %}
      The 33Day-Diary is available for 33€. Shipping included.<br>You may send your order directly to <a href="mailto:diary@flowtoolz.com?subject=I want a copy of the 33Day-Diary&body=Please send it to the following adress:">diary@flowtoolz.com</a>.
      {% endif %}
      </p>
      <p style="text-align:center">
         {% if lang == "de" %}
          Wenn Du uns Deine Wünsche nennst oder etwas über die Person erzählst für die das Buch bestimmt ist, passen wir Farbegestaltung und Umschlag-Design stilsicher daran an.
          {% else %}
          If you tell us anything about your preferences or the type of personality who will use the book, kinabooks will artfully and with good sense adjust colors and cover design.
          {% endif %}
      </p>
      <p style="text-align:center">
         {% if lang == "de" %}
          <a href="mailto:tagebuch@flowtoolz.com?subject=Ich möchte ein Exemplar des 33Tage-Buches&body=Bitte sende es an folgende Adresse:">
              Jetzt ein Exemplar Bestellen >
          </a>
          {% else %}
          <a href="mailto:diary@flowtoolz.com?subject=I want a copy of the 33Day-Diary&body=Please send it to the following adress:">
              Get a Copy Now >
          </a>
          {% endif %}
      </p>

      <!-- Galerie mit verfügbaren exemplaren und jeweils #Nummer wie bei Kunstdrucken -->
  </div>
</section>
