<a class="u-email" href="mailto:{{ site.email }}">
   <img src="/assets/simpleicons.org/email.svg" />
</a>

<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
   <img class="needs-left-margin" src="/assets/simpleicons.org/linkedin.svg" />
</a>

<a href="https://www.xing.com/profile/{{ site.xing_username| cgi_escape | escape }}">
   <img class="needs-left-margin" src="/assets/simpleicons.org/xing.svg" />
</a>

<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
   <img class="needs-left-margin" src="/assets/simpleicons.org/github.svg" />
</a>

<a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
   <img class="needs-left-margin" src="/assets/simpleicons.org/facebook.svg" />
</a>

<a href="https://www.goodreads.com/{{ site.goodreads_username| cgi_escape | escape }}">
   <img class="needs-left-margin" src="/assets/simpleicons.org/goodreads.svg" />
</a>

<a href="https://medium.com/@{{ site.medium_username| cgi_escape | escape }}">
   <img class="needs-left-margin" src="/assets/simpleicons.org/medium.svg" />
</a>

<a href="https://www.youtube.com/channel/UCqL_LbGNuKUuAKVlY9y7Eug">
   <img class="needs-left-margin" src="/assets/simpleicons.org/youtube.svg" />
</a>

<a href="{{ "/feed.xml" | relative_url }}">
   <img class="needs-left-margin" src="/assets/simpleicons.org/rss.svg" />
</a>
