@charset "utf-8";

// Define defaults for each variable.

@font-face
{
    font-family: FlowtoolzRegular;
    src: url("/assets/fonts/Regular.otf") format("opentype");
}

@font-face
{
    font-family: FlowtoolzBold;
    src: url("/assets/fonts/Bold.otf") format("opentype");
}

$base-font-family: FlowtoolzRegular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

h1, h2, h3, b {
   font-family: FlowtoolzBold;
}

$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       black !default;
$background-color: white !default;
$brand-color:      #c72128 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    700px !default;

// Use media queries like this:
// @include at-max-width(600px) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin at-max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "flowtoolz/html",
  "flowtoolz/classes",
  "flowtoolz/syntax-highlighting"
;
