/**
 * Wrapper (in header, main and footer)
 */
.wrapper
{
   margin-right: auto;
   margin-left: auto;
   @extend %clearfix;
   width: $content-width;
   max-width: 95%;
   padding: 0px;
   margin-top:0px;
   margin-bottom:0px;
}

/**
 * Site header
 */
.site-header
{
  border-top: 5px solid black;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title
{
  @include relative-font-size(1);
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
  color: $text-color;
}

.site-nav
{
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    @include relative-font-size(1);
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: $brand-color
    }
  }

  @include at-max-width(480px) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */

 footer {
   border-top: 1px solid $grey-color-light;
   padding-top: 0;
   padding-bottom: 0;
   padding-top: $spacing-unit;
   padding-bottom: $spacing-unit;
 }

footer p {
 text-align: center;
 color: lighten($grey-color, 20%);
 margin-bottom: 0;
}

footer a > img {
   width: 32px;
   display: inline-block;
   margin-bottom: $spacing-unit / 2;
   transition: filter .2s ease-in-out;
   -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
   filter: grayscale(100%); /* FF 35+ */
   opacity: 0.25;
}

footer a > img.needs-left-margin {
   margin-left: $spacing-unit / 2;
}

footer a > img:hover {
   -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

/**
 * Page content
 */
main {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: $spacing-unit * 2;
  padding-top: $spacing-unit * 2;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.fl-blog-post-content img
{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* Embedded Videos With Responsive Size */

.ft-video-iframe-wrapper
{
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   padding-top: 0px;
   height: 0;
   overflow: hidden;
}

.ft-video-iframe-wrapper iframe
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/* Drop Shadow */

.ft-shadow
{
    box-shadow: 0px 4px 8px #777777;
}

/* More Page */

img.ft-more-project-image {
   display:block;
   width:20%;
   float:left;
   margin-right:20px;
   margin-bottom:10px;
   margin-top: 8px;
}

/* Service Page */

div.ft-client-grid {
   margin-top: $spacing-unit;
   margin-bottom: $spacing-unit;
}

.ft-client-grid > .cell {
   min-height: 80px;
   height: 15vh;
   background-position: center;
   background-size: 50% auto;
   background-repeat: no-repeat;
}

.ft-client-grid > .cell > a > div {
   width:100%;
   height:100%;
}

/* Flowtalk Page */

.ft-podcast-link
{
    display:inline-block;
    overflow:hidden;
    width:150px;
    height:44px;
    border-radius: 5px;
}

.ft-podcast-link-grid
{
    text-align:center;
}

.ft-podcast-link-grid > .cell
{
    min-height: 70px;
    height: 13vh;
}
