/* General */

body {
   background-color: black;
}

header, main, footer {
   background-color: white;
}

/* fix foundation fuck ups */

[type='checkbox'] + label
{
  display: block;
}

svg
{
   box-sizing: content-box;
}
