@font-face
{
    font-family: FlowtoolzRegular;
    src: url("/assets/fonts/Regular.otf") format("opentype");
}

@font-face
{
    font-family: FlowtoolzBold;
    src: url("/assets/fonts/Bold.otf") format("opentype");
}

body
{
    font-family: FlowtoolzRegular;
    font-size: 18px;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

a
{
   color: black;
}

a:hover
{
   color: #c72128;
}

section
{
    padding-top:90px;
    padding-bottom:90px;

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, rgba(240, 240, 240, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgba(240, 240, 240, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgba(240, 240, 240, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgba(240, 240, 240, 1)); /* Standard syntax */
}

section > div
{
    font-family: FlowtoolzRegular;
    width:90%;
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
}

h1, h2
{
    text-align:center;
}

h1
{
    letter-spacing: -4px;
    font-family: FlowtoolzBold;
    font-weight:900;
    font-size: 60px;
}

h2
{
    letter-spacing: -1px;
    font-family: FlowtoolzRegular;
    font-weight:200;
    font-size: 30px;
    margin-bottom: 50px;
}

h3
{
    letter-spacing: -1px;
    font-family: FlowtoolzBold;
    font-size: 18px;
    font-weight:900;
}

#fl-download-paragraph
{
    text-align: center;
}

.fl-image-paragraph
{
    text-align: center;
    margin-bottom: 50px;
}

button
{
    font-weight:900;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #82AADF;
    color: white;
    border-radius: 7px;
}

#priceTable
{
   width:100%;
   max-width:600px;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:30px;
}

table#priceTable tr:nth-child(even)
{
    background-color: rgb(240,240,240);
}

table#priceTable tr:nth-child(odd)
{
    background-color: white;
}

img
{
    text-align: center;
    width: 100%;
}

.fl-command-span
{
    /* font-weight: 400; */
    /* font-style: italic; */
    font-family: Courier;
}

/* Foundation Classes */

.column-block
{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}
