---
layout: default
---

<div class="blog">

   {{ content }}

   {%- if site.posts.size > 0 -%}

   {%- for post in paginator.posts -%}


   <div class="grid-x">
      <div class="cell">
         <h2>
            <a href="{{ post.url | relative_url }}">
               {{ post.title | escape }}
            </a>
         </h2>
      </div>
   </div>
   <div class="grid-x grid-margin-x" style="margin-bottom:60px;min-height:150px">
      <div class="cell small-12 medium-4">
         <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image_url | relative_url }}" width="100%" class="ft-shadow"
               style="margin-top:9px">
         </a>
      </div>
      <div class="cell small-12 medium-8">
         <span class="post-meta" style=>
            {{ post.date | date: "%b %-d, %Y" }}
         </span>
         <br>
         {{ post.excerpt }}
      </div>
   </div>

   {%- endfor -%}

  {%- endif -%}

</div>
