<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Foundation Scripts -->
    <script src='/assets/foundation-6/js/vendor/jquery.js'></script>
    <script src='/assets/foundation-6/js/vendor/what-input.js'></script>
    <script src='/assets/foundation-6/js/vendor/foundation.min.js'></script>
    <script> $(document).foundation(); </script>

  </body>

</html>
