<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

   {%- include head.html -%}

   <body>

      {%- if page.is_landing_page -%}
         {%- if page.is_landing_page == false -%}
            {%- include header.html -%}
         {%- endif -%}
      {%- else -%}
         {%- include header.html -%}
      {%- endif -%}

      <main aria-label="Content">
         {{ content }}
      </main>

      {%- if page.is_landing_page -%}
         {%- if page.is_landing_page == false -%}
            {%- include footer.html -%}
         {%- endif -%}
      {%- else -%}
         {%- include footer.html -%}
      {%- endif -%}

      {%- include foundation_scripts.html -%}

   </body>

</html>
