---
layout: default
---

<div class="home">

   {{ content }}

   {%- if site.posts.size > 0 -%}
   <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->

   {%- for post in paginator.posts -%}


   <div class="grid-x">
      <div class="cell small-12" style="padding:0px">
         <h2 style="margin-bottom:5px">
            <a href="{{ post.url | relative_url }}">
               {{ post.title | escape }}
            </a>
         </h2>
      </div>
   </div>
   <div class="grid-x" style="margin-bottom:40px;height:150px">
      <div class="cell small-4" style="padding-top:4px;padding-left:0px;padding-right:15px">
         <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image_url | relative_url }}" width="100%" class="ft-shadow">
         </a>
      </div>
      <div class="cell small-8" style="padding:0px;overflow:hidden;">
         <span class="post-meta" style="margin-right:15px">
            {{ post.date | date: "%b %-d, %Y" }}
         </span>
         <br>
         {{ post.excerpt }}
      </div>
   </div>

   {%- endfor -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  {%- endif -%}

</div>
