---
layout: default
---

<!-- Foundation -->
<link rel='stylesheet' href='/assets/foundation-6/css/foundation.min.css'>
<link rel='stylesheet' href='/assets/foundation-icons/foundation-icons.css'>

<div class="home">
   {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
   {%- endif -%}

   {{ content }}

   {%- if site.posts.size > 0 -%}
   <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->

   {%- for post in site.posts -%}
   <div class="row" style="padding-bottom:70px">
      <div class="columns small-4" style="padding-top:30px;padding-left:0px;padding-right:15px">
         <img src="{{ post.image_url | relative_url }}" width="100%">
      </div>
      <div class="columns small-8" style="padding:0px">
         {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
         <span class="post-meta">{{ post.date | date: date_format }}</span>
         <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
               {{ post.title | escape }}
            </a>
         </h3>
         {%- if site.show_excerpts -%}
            {{ post.excerpt }}
         {%- endif -%}
      </div>
   </div>

   {%- endfor -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  {%- endif -%}

</div>

<!-- Foundation Scripts -->
<script src='/assets/foundation-6/js/vendor/jquery.min.js'></script>
<script src='/assets/foundation-6/js/vendor/what-input.min.js'></script>
<script src='/assets/foundation-6/js/foundation.min.js'></script>
<script> $(document).foundation(); </script>
