---
layout: default
---

<div class="home">
   {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
   {%- endif -%}

   {{ content }}

   {%- if site.posts.size > 0 -%}
   <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->

   {%- for post in site.posts -%}
   <div class="grid-x" style="margin-bottom:40px;height:150px">
      <div class="cell small-4" style="padding-top:4px;padding-left:0px;padding-right:15px">
         <img src="{{ post.image_url | relative_url }}" width="100%">
      </div>
      <div class="cell small-8" style="padding:0px;overflow:hidden;">
         {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
         <p style="margin-bottom:0">
            <a class="post-link" href="{{ post.url | relative_url }}">
               {{ post.title | escape }}
            </a>
         </p>
         <span class="post-meta" style="margin-right:15px">{{ post.date | date: date_format }}</span><br>
         {%- if site.show_excerpts -%}
            {{ post.excerpt }}
         {%- endif -%}
      </div>
   </div>

   {%- endfor -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  {%- endif -%}

</div>
